<!-- <nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/" class="disabled"><span class="glyphicon glyphicon-file"></span> <%= title %></a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="<%= next.link%>">
          <span class="<%= next.icon%>"></span> 
          <%= next.label %>
        </a>
      </li>
    </ul>
  </div>
</nav>

\-->